<div class="mobile-off-canvas-active">
    <a class="mobile-aside-close"><i class="sli sli-close"></i></a>
    <div class="header-mobile-aside-wrap">
        <div class="mobile-search">
            <form class="search-form" action="#">
                <input type="text" placeholder="Search entire store…">
                <button class="button-search"><i class="sli sli-magnifier"></i></button>
            </form>
        </div>
        <div class="mobile-menu-wrap">
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><a href="{% url 'ecomapp:home' %}">Home</a></li>
                        <li class="menu-item-has-children"><a href="{% url 'ecomapp:products' %}">Products</a></li>
                        <li class="menu-item-has-children"><a href="{% url 'ecomapp:mycart' %}">Cart </a></li>





                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
        </div>
        <div class="mobile-curr-lang-wrap">


            <div class="single-mobile-curr-lang">
                <a class="mobile-account-active" href="#">My Account <i class="sli sli-arrow-down"></i></a>
                <div class="lang-curr-dropdown account-dropdown-active">
                    <ul>
                        {% if request.user.customer %}
                        Welcome {{request.user.username}}!
                        <li><a href="{% url 'logout' %}">Logout</a></li>

                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'ecomapp:customerregistration' %}">Creat Account</a>
                        </li>
                        <li><a href="my-account.html">My Account</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-social-wrap">
            <a class="facebook" href="#"><i class="sli sli-social-facebook"></i></a>
            <a class="twitter" href="#"><i class="sli sli-social-twitter"></i></a>
            <a class="pinterest" href="#"><i class="sli sli-social-pinterest"></i></a>
            <a class="instagram" href="#"><i class="sli sli-social-instagram"></i></a>
            <a class="google" href="#"><i class="sli sli-social-google"></i></a>
        </div>
    </div>
</div>