{% extends "customer/base.html" %}
{% load crispy_forms_tags %}
{% block title %}  Password reset confirmation  {% endblock title %}


{% block content %}
<h2 class="text-center"> Password reset confirmation</h2>
<p class="text-center">Please enter your new password twice so we can verify you typed it in correctly.</p>

<div class="card">
    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">change my password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
