{% extends "customer/base.html" %}
    
{% block content %}
<div class="myaccount-content">
    <div class="account-details-form">
        <form action="{% url 'ecomapp:change-password' %}" method="post"> <!-- Change action to correct URL -->
            {% csrf_token %}
            <fieldset>
                <legend>Password change</legend>
                <div class="single-input-item">
                    <label for="current-pwd" class="required">Current Password</label>
                    <input type="password" name="old_password" id="current-pwd" required />
                    {{ form.old_password.errors }} <!-- You may not need this if using built-in views -->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-input-item">
                            <label for="new-pwd" class="required">New Password</label>
                            <input type="password" name="new_password1" id="new-pwd" required />
                            {{ form.new_password1.errors }} <!-- You may not need this if using built-in views -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-input-item">
                            <label for="confirm-pwd" class="required">Confirm Password</label>
                            <input type="password" name="new_password2" id="confirm-pwd" required />
                            {{ form.new_password2.errors }} <!-- You may not need this if using built-in views -->
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="single-input-item">
                <button class="check-btn sqr-btn" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}