<div class="table-content table-responsive cart-table-content">
    <table>
        <thead>
            <tr>
                <th>SN</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for cp in cart.cartproduct_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="product-thumbnail">
                    <img src="{{ cp.product.image.url}}" alt="" height="100px" width="100px">
                <td class="product-name"><a href="{% url 'ecomapp:productdetail'  cp.product.pk %}">{{ cp.product.title }}</a></td>
                <td class="product-price-cart"><span class="amount">{{ cp.rate }}</span></td>
                <td class="product-quantity">{{ cp.quantity }}</td>
                <td class="product-subtotal">{{ cp.subtotal }}</td>
                <td class="product-remove">
                    <a href="{% url 'ecomapp:managecart' cp.id %}?action=inc"><i class="sli sli-plus"></i></a>
                    <a href="{% url 'ecomapp:managecart' cp.id %}?action=dcr"><i class="sli sli-minus"></i></a>
                    <a href="{% url 'ecomapp:managecart' cp.id %}?action=rmv"><i class="sli sli-close"></i></a>
                </td>
            </tr>
            {% endfor %}
           
            
        </tbody>

    </table>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="cart-shiping-update-wrapper">
            
            <div class="cart-clear">
                {% if cart.total %}
                <a href="{% url 'ecomapp:empycart' %}">Clear Shopping Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>