<!--sidebar wrapper -->
{% load static %}
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <a href="{% url 'ecomappadmin:admin-home' %}">
                <img src="{% static 'adminpanel/images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
            </a>
        </div>
        <div>
            <a href="{% url 'ecomappadmin:admin-home' %}">
                <h4 class="logo-text">BAZAR</h4>
            </a>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-first-page'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'ecomappadmin:admin-home' %}">
                <div class="parent-icon"><i class='bx bx-home'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
       
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-cart-alt'></i>
                </div>
                <div class="menu-title">eCommerce</div>
            </a>
            <ul>
                <li> <a href="ecommerce-products.html"><i class="bx bx-right-arrow-alt"></i>Products</a>  </li>
                <li> <a href="ecommerce-products-details.html"><i class="bx bx-right-arrow-alt"></i>Product Details</a>  </li>
                <li> <a href="ecommerce-add-new-products.html"><i class="bx bx-right-arrow-alt"></i>Add New Products</a>  </li>
                
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-box'></i>
                </div>
                <div class="menu-title">Order</div>
            </a>
            <ul>
                <li><a class="bg-warning" href="{% url 'ecomappadmin:admin-orders-received' %}"><i class="bx bx-right-arrow-alt"></i>Order Received ({{ Received }})</a></li>
                <li><a class="bg-info" href="{% url 'ecomappadmin:admin-orders-processing' %}"><i class="bx bx-right-arrow-alt"></i>Order Processing ({{ Processing }})</a></li>
                <li><a class="bg-info" href="{% url 'ecomappadmin:admin-orders-way' %}"><i class="bx bx-right-arrow-alt"></i>On the Way ({{ way }})</a></li>
                <li><a class="bg-success" href="{% url 'ecomappadmin:admin-orders-completed' %}"><i class="bx bx-right-arrow-alt"></i>Order Completed ({{ Completed }})</a></li>
                <li><a class="bg-danger" href="{% url 'ecomappadmin:admin-orders-canceled' %}"><i class="bx bx-right-arrow-alt"></i>Order Canceled ({{ Canceled }})</a></li>
            </ul>
            
            
        </li>
       
        <li>
            <a href="user-profile.html">
                <div class="parent-icon"><i class='bx bx-user-pin'></i>
                </div>
                <div class="menu-title">User Profile</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->