<style>
    .pageactive {
        background-color: rgba(255, 0, 0, 0.433);
    }
   
</style>

{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link text-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link text-primary {% if page_obj.number == i %}pageactive{% endif %}" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link text-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
