{% extends "customer/base.html" %}

{% block title %} Signup{% endblock %}
{% block content %}
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a href="{% url 'ecomapp:customerlogin' %}">
                           
                            <h4>Login</h4>
                        </a>
                        <a class="active" href="{% url 'ecomapp:customerregistration' %}">
                            <h4>Register</h4>
                        </a>
                    </div>
                   
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{% url 'ecomapp:customerregistration' %}" method="post">
                                       {% csrf_token %}
                                       <input type="text" name="username" placeholder="Enter a Username" required>
                                        <div style="font-size:10px;"># username should not have any space in between.</div>
                                        {{ form.username.errors }}
                                        <input type="text" name="full_name" placeholder="Enter a Full Name" required>
                                        {{ form.full_name.errors }}

                                        <input type="text" name="mobile" maxlength="10" placeholder="Enter a mobile number" required>
                                        {{ form.mobile.errors }}
                                       
                                        <input type="email" name="email" placeholder="Enter a Email" required>
                                        {{ form.email.errors }}
                                        
                                        <input type="text" name="address" placeholder="Enter a Address" required>
                                        {{ form.address.errors }}
                                        
                                        <input type="password" name="password" placeholder="Enter Password" required>
                                        {{ form.password.errors }}
                                        

                                       
                                        <div class="button-box">
                                            <button type="submit">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        
                   
            </div>
        </div>
    </div>
</div>
{% endblock content %}
