{% extends "admin/adminbase.html" %}
{% block title %}{% endblock %}
{% load humanize %}
{% load static %}
{% block content %}


<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
{% include "admin/home/home_chunks/top_order.html" %}
</div><!--end row-->





<div class="row row-cols-1 row-cols-xl-2">
	<div class="col d-flex">
		<div class="card radius-10 w-100">
			<div class="card-body">
				<div class="" id="chart7"></div>
			</div>
		</div>
	</div>
	<div class="col d-flex">
		<div class="card radius-10 w-100">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-1">Sales Report</h5>
					</div>
					<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
					</div>
				</div>
				<div class="" id="chart8"></div>
			</div>
		</div>
	</div>
</div><!--end row-->



<div class="row">
	<div class="col-12 col-xl-4 d-flex">
		<div class="card radius-10 w-100">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-0">New Customers</h5>
					</div>
					<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
					</div>
				</div>
			</div>
			<div class="customers-list p-3 mb-3">
				{% for customer in newcustomer %}
				<div class="customers-list-item d-flex align-items-center border-top border-bottom p-2 cursor-pointer">
					<div class="">
						<img src="{% static 'adminpanel/images/avatars/avatar-1.png' %}" class="rounded-circle"
							width="46" height="46" alt="" />
					</div>
					<div class="ms-2">
						<h6 class="mb-1 font-14">{{customer.full_name}}</h6>
						<p class="mb-0 font-13 text-secondary">{{customer.user.email}}</p>
					</div>
					<!-- <div class="list-inline d-flex customers-contacts ms-auto"> <a href="javascript:;"
									class="list-inline-item"><i class='bx bxs-envelope'></i></a>
								<a href="javascript:;" class="list-inline-item"><i class='bx bxs-phone'></i></a>
								<a href="javascript:;" class="list-inline-item"><i
										class='bx bx-dots-vertical-rounded'></i></a>
							</div> -->
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-4 d-flex">
		<div class="card radius-10 w-100 overflow-hidden">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-0">Store Metrics</h5>
					</div>
					<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
					</div>
				</div>
			</div>

			<div class="store-metrics p-3 mb-3">

				<div class="card mt-3 radius-10 border shadow-none">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Total Products</p>
								<h4 class="mb-0">{{totalProducts|intcomma}}</h4>
							</div>
							<div class="widgets-icons bg-light-primary text-primary ms-auto"><i
									class='bx bxs-shopping-bag'></i>
							</div>
						</div>
					</div>
				</div>
				<div class="card radius-10 border shadow-none">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Total Customers</p>
								<h4 class="mb-0">{{CustomerCount|intcomma}}</h4>
							</div>
							<div class="widgets-icons bg-light-danger text-danger ms-auto"><i class='bx bxs-group'></i>
							</div>
						</div>
					</div>
				</div>
				<div class="card radius-10 border shadow-none">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Total Categories</p>
								<h4 class="mb-0">{{totalCategory|intcomma}}</h4>
							</div>
							<div class="widgets-icons bg-light-success text-success ms-auto"><i
									class='bx bxs-category'></i>
							</div>
						</div>
					</div>
				</div>
				<div class="card radius-10 border shadow-none">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<p class="mb-0 text-secondary">Total Orders</p>
								<h4 class="mb-0">{{totalorder|intcomma}}</h4>
							</div>
							<div class="widgets-icons bg-light-info text-info ms-auto"><i class='bx bxs-cart-add'></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-xl-4 d-flex">
		<div class="card radius-10 w-100 ">
			<div class="card-body">
				<div class="d-flex align-items-center">
					<div>
						<h5 class="mb-1">Top Products</h5>
					</div>
					<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
					</div>
				</div>
			</div>

			<div class="product-list p-3 mb-3">

				<div class="d-flex align-items-center py-3 border-bottom cursor-pointer">
					<div class="product-img me-2">
						<img src="assets/images/products/01.png" alt="product img">
					</div>
					<div class="">
						<h6 class="mb-0 font-14">Black Boost Chair</h6>
						<p class="mb-0">148 Sales</p>
					</div>
					<div class="ms-auto">
						<h6 class="mb-0">$246.24</h6>
					</div>
				</div>

				<div class="d-flex align-items-center py-3 border-bottom cursor-pointer">
					<div class="product-img me-2">
						<img src="assets/images/products/03.png" alt="product img">
					</div>
					<div class="">
						<h6 class="mb-0 font-14">Red Single Sofa</h6>
						<p class="mb-0">122 Sales</p>
					</div>
					<div class="ms-auto">
						<h6 class="mb-0">$328.14</h6>
					</div>
				</div>

				<div class="d-flex align-items-center py-3 border-bottom cursor-pointer">
					<div class="product-img me-2">
						<img src="assets/images/products/04.png" alt="product img">
					</div>
					<div class="">
						<h6 class="mb-0 font-14">Pink Rounded Sofa</h6>
						<p class="mb-0">105 Sales</p>
					</div>
					<div class="ms-auto">
						<h6 class="mb-0">$124.35</h6>
					</div>
				</div>

				<div class="d-flex align-items-center py-3 border-bottom cursor-pointer">
					<div class="product-img me-2">
						<img src="assets/images/products/05.png" alt="product img">
					</div>
					<div class="">
						<h6 class="mb-0 font-14">Brown Single Table</h6>
						<p class="mb-0">201 Sales</p>
					</div>
					<div class="ms-auto">
						<h6 class="mb-0">$158.34</h6>
					</div>
				</div>

				<div class="d-flex align-items-center py-3 border-bottom cursor-pointer">
					<div class="product-img me-2">
						<img src="assets/images/products/06.png" alt="product img">
					</div>
					<div class="">
						<h6 class="mb-0 font-14">Grey Long Chair</h6>
						<p class="mb-0">146 Sales</p>
					</div>
					<div class="ms-auto">
						<h6 class="mb-0">158.24</h6>
					</div>
				</div>





			</div>
		</div>
	</div>
</div><!--end row-->



<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
{% endblock %}