{% load humanize %}
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body bg-warning text-body">
            <a href="{% url 'ecomappadmin:admin-orders-received' %}" class="text-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Total Orders Received</p>
                        <h5 class="mb-0">{{Received|intcomma}}</h5>
                    </div>
                    <div class="ms-auto"> <i class='bx bx-cart font-30'></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="" id="chart1"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body bg-info text-body">
            <a href="{% url 'ecomappadmin:admin-orders-processing' %}" class="text-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Total Orders Processing</p>
                        <h5 class="mb-0">{{Processing|intcomma}}</h5>
                    </div>
                    <div class="ms-auto"> <i class='bx bx-cart font-30'></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="" id="chart1"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body  bg-info text-body">
            <a href="{% url 'ecomappadmin:admin-orders-way' %}" class="text-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Total Orders On the way</p>
                        <h5 class="mb-0">{{way|intcomma}}</h5>
                    </div>
                    <div class="ms-auto"> <i class='bx bx-cart font-30'></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="" id="chart1"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body bg-success text-body">
            <a href="{% url 'ecomappadmin:admin-orders-completed' %}" class="text-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Total Orders Completed</p>
                        <h5 class="mb-0">{{Completed|intcomma}}</h5>
                    </div>
                    <div class="ms-auto"> <i class='bx bx-cart font-30'></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="" id="chart1"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body bg-danger text-body">
            <a href="{% url 'ecomappadmin:admin-orders-canceled' %}" class="text-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0">Total Orders Canceled</p>
                        <h5 class="mb-0">{{Canceled|intcomma}}</h5>
                    </div>
                    <div class="ms-auto"> <i class='bx bx-cart font-30'></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="" id="chart1"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body text-body">
            <div class="d-flex align-items-center">
                <div>
                    <p class="mb-0">Total Income</p>
                    <h5 class="mb-0">Rs. {{totalincome|intcomma}}</h5>
                </div>
                <div class="ms-auto"> <i class='bx bx-wallet font-30'></i>
                </div>
            </div>
        </div>
        <div class="" id="chart2"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body text-body">
            <div class="d-flex align-items-center">
                <div>
                    <p class="mb-0">Total Users</p>
                    <h5 class="mb-0">{{CustomerCount|intcomma}}</h5>
                </div>
                <div class="ms-auto"> <i class='bx bx-group font-30'></i>
                </div>
            </div>
        </div>
        <div class="" id="chart3"></div>
    </div>
</div>
<div class="col">
    <div class="card radius-10 overflow-hidden">
        <div class="card-body text-body">
            <div class="d-flex align-items-center">
                <div>
                    <p class="mb-0">Comments</p>
                    <h5 class="mb-0">869</h5>
                </div>
                <div class="ms-auto"> <i class='bx bx-chat font-30'></i>
                </div>
            </div>
        </div>
        <div class="" id="chart4"></div>
    </div>
</div>